@keyframes teste {
  0%{opacity: 0%;transition: 1s;}
  60%{opacity: 0%;transition: 1s;}
  100%{opacity: 100%;transition: 1s;}
}
html {
  overflow-y: none;
  overflow-x: none;
  height: 100%;
}
*{

  user-select: none;
  
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  
  background-size: cover;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqFYt8yJ2oBKupgC_vfJk7N1aVD-3SpwZ8zjtEPZ11r7qtN1JTEQ4P5ICgdKkwkmmzME4&usqp=CAU');
  user-select: none;
  margin:0;
  padding:0;
  font-family: sans-serif;

}

.login-box {

  animation: teste; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba( 28, 28, 28, 0.25 );

  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;

  box-sizing: border-box;

  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border:0;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 15px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #7E3AF2;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #7E3AF2;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #7E3AF2;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #7E3AF2,
              0 0 25px #7E3AF2,
              0 0 50px #7E3AF2,
              0 0 100px #7E3AF2;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #7E3AF2);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #7E3AF2);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #7E3AF2);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #7E3AF2);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


form{
  border-radius: 10px;
background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.input-group {
  position: relative;
 }
 
 .input {
width: 88%;
height: auto;
  border: solid 1.5px rgba(255, 255, 255, 0);
  border-radius: 1rem;
  background: rgba( 28, 28, 28, 0.25 );

  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
 }
 
 .user-label {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
 }
 
 .input:focus, input:valid {
  outline: none;
  border: 1.5px solid #7e3af29a;
 }
 
 .input:focus ~ label, input:valid ~ label {
  transform: translateY(0%) scale(0.7);
  background-color: #7e3af2;
  padding: 0 .5em;
  left: -5px;
  border-radius: 50px;
  color: white;}




  /* From uiverse.io by @adamgiebl */
button {
  font-family: inherit;
  font-size: 20px;
  background:#7e3af2;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
 }
 
 button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
 }
 
 button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
 }
 
 button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
 }
 
 button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
 }
 
 button:hover span {
  transform: translateX(5em);
 }
 
 button:active {
  transform: scale(0.95);
 }
 
 @keyframes fly-1 {
  from {
   transform: translateY(0.1em);
  }
 
  to {
   transform: translateY(-0.1em);
  }
 }
 
 
@keyframes suave {
  0%{opacity: 0%;transition: 1s;}
 20%{opacity: 0%;transition: 1s;}
  100%{opacity: 100%;transition: 1s;}
}
 .logo{
   background-color: transparent;
   animation: suave 1s;
   display: flex;
   justify-content: center;
   align-items: center;
  margin: 0 auto;
 }
